[submodule "mali"]
	path = mali
	url = https://github.com/mdrjr/5422_mali.git
	branch = r9p0
[submodule "armsoc_ddx"]
	path = armsoc_ddx
	url = https://github.com/mdrjr/xf86-video-armsoc.git
	branch = 5422_r5p1
[submodule "5422_platform_configs"]
	path = 5422_platform_configs
	url = https://github.com/mdrjr/5422_platform.git
[submodule "bootini"]
	path = bootini
	url = https://github.com/mdrjr/5422_bootini.git
[submodule "kodi"]
	path = kodi
	url = https://github.com/mdrjr/xbmc.git
	branch = 5422_helix
[submodule "kernel"]
	path = kernel
	url = https://github.com/hardkernel/linux.git
	branch = odroidxu3-3.10.y
